.Home{
    min-height: 100%;
    background-image: url('../../assets/home_bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}