.ContentContainer{
    flex-grow: 1;
    transition: .5s;
    margin: 30px;
    background-color: #2C3E50;
    overflow-y: scroll;
    border: 4px solid #1B2838;
}

/* width */
.ContentContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .ContentContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .ContentContainer::-webkit-scrollbar-thumb {
    background: #2466CA; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .ContentContainer::-webkit-scrollbar-thumb:hover {
    background:#1B2838; 
  }

  
.Contentopen{
    margin-left: 230px;
}

.Contentclose{
    margin-left: 30px;
}

@media (max-width: 768px){
    .ContentContainer{
        margin: 10px;
    }
    .Contentopen{
        margin-left: 10px;
    }
    .Content{
        padding: 5px;
    }
}