body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #2C3E50;
  font-size: 100%;
}
body, html, #root, .App{
  height: 100%;
}
*{
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

ul{
  list-style: none;
}

a, a:hover, a:active, a:visited, a:link{
  text-decoration: none;
}

.text-center{
  text-align: center;
}
.text-white{
  color: #ffffff;
}
/* Margin */
.m-0{
  margin: 0px;
}
.m-3{
  margin: 3px;
}
.m-5{
  margin: 5px;
}
.m-10{
  margin: 10px;
}
.m-10{
  margin: 10px;
}
.m-20{
  margin: 20px;
}
.m-30{
  margin: 30px;
}
.mt-0{
  margin-top: 0px;
}
.mt-3{
  margin-top: 3px;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}

.mb-0{
  margin-bottom: 0px;
}
.mb-3{
  margin-bottom: 3px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}

.mr-0{
  margin-right: 0px;
}
.mr-3{
  margin-right: 3px;
}
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}

.ml-0{
  margin-left: 0px;
}
.ml-3{
  margin-left: 3px;
}
.ml-5{
  margin-left: 5px;
}
.ml-10{
  margin-left: 10px;
}
/* Padding */
.p-0{
  padding: 0px;
}
.p-3{
  padding: 3px;
}
.p-5{
  padding: 5px;
}
.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}
.pt-0{
  padding-top: 0px;
}
.pt-3{
  padding-top: 3px;
}
.pt-5{
  padding-top: 5px;
}
.pt-10{
  padding-top: 10px;
}

.pb-0{
  padding-bottom: 0px;
}
.pb-3{
  padding-bottom: 3px;
}
.pb-5{
  padding-bottom: 5px;
}
.pb-10{
  padding-bottom: 10px;
}

.pr-0{
  padding-right: 0px;
}
.pr-3{
  padding-right: 3px;
}
.pr-5{
  padding-right: 5px;
}
.pr-10{
  padding-right: 10px;
}

.pl-0{
  padding-left: 0px;
}
.pl-3{
  padding-left: 3px;
}
.pl-5{
  padding-left: 5px;
}
.pl-10{
  padding-left: 10px;
}